name: Main Continuous Integration

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    id-token: write

concurrency:
    group: branch-main

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Generate Token
              id: generate_token
              uses: tibdex/github-app-token@v1
              with:
                  app_id: ${{ vars.TOKEN_APP_ID }}
                  private_key: ${{ secrets.TOKEN_APP_PRIVATE_KEY }}
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 5
                  token: ${{ steps.generate_token.outputs.token }}
            - uses: actions/setup-node@v3
              with:
                  registry-url: 'https://registry.npmjs.org'
                  node-version: 18
            - name: Setup
              run: |
                  yarn install
                  git tag baseline HEAD^
                  echo Using baseline:
                  git log -1 --oneline baseline
            - name: Build
              run: yarn build --filter=...[baseline]
            - name: Publish
              run: |
                  git config user.name "GitHub Actions Bot"
                  git config user.email "<>"
                  npx turbo run release --concurrency 1 --filter=...[baseline] -- --prerelease dev --skip.tag --skip.changelog
                  npx turbo run deploy --filter=...[baseline] -- --tag dev
            # - name: Push Changes
            #   run: |
            #       git fetch origin
            #       git merge -m "Merge branch 'main' [skip ci]" origin/main
            #       git push origin HEAD:main
